/* Tailwind's base styles */
@tailwind base;

/* Tailwind's component styles */
@tailwind components;

/* Tailwind's utility classes */
@tailwind utilities;

.merienda-title {
    font-family: "Merienda", serif;
    font-weight: 700;
  }
  
.philosopher-regular {
    font-family: "Philosopher", serif;
    font-weight: 400;
    font-style: normal;
  }